.header {
    font-size: 2rem;
}

.error-message {
    color: red;
    font-style: italic;
}

.layout {
    padding: 1.5rem;
}

.message {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.form {
    display: grid;
    grid-gap: 1rem;
    margin-top: 1rem
}

.form-fields {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.inputLabel {
    margin-bottom: 0.75rem;
}

.price-output {
    margin: 1rem 0;
}

.submit {
    width: fit-content;
}

.versions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    width: fit-content;
}

.version-link {
    border-radius: 0.5rem;
    box-shadow: grey 1px 1px 4px 0px;
    height: 6rem;
    padding-top: 2.25rem;
    text-align: center;
    text-decoration: none;
    width: 6rem;
}

@media (min-width: 480px) {
    .form-fields {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .form-fields {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
